.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
    .group-logo {
        display: flex;
        align-items: center;
        gap: 8px;

        .group-logo__text {
            font-size: 24px;
            font-weight: 500;
            color: rgb(155, 118, 124);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .group-navigation {
        display: flex;
        gap: 8px;

        .navigation-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 40px;
            font-size: 16px;

            &:hover {
                cursor: pointer;
                background-color: pink;
                transition-duration: 0.8s;
            }
        }

        // .group-navigation__home {

        // }

        // .group-navigation__about {
            
        // }
    }

    .group-avatar {
        display: flex;
        align-items: center;
        gap: 12px;

        .group-avatar__name {
            font-size: 18px;

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        .group-avatar__avatar {

            img {
                width: 46px;
                height: 46px;
                border-radius: 50%;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .group-avatar__logout {
            display: flex;
            gap: 8px;
            padding: 8px 12px;
            font-size: 14px;

            // .group-avatar__logout--btn {

            // }

            // .group-avatar__logout--icon {

            // }

            &:hover {
                cursor: pointer;
            }
        }
    }
}