<div class="header-container">
    <div class="group-logo" (click)="redirectToHomePage()">
        <div class="group-logo__logo">
            <img src="favicon.ico" alt="app-logo">
        </div>
        <div class="group-logo__text">
            Origin Dev
        </div>
    </div>

    <div class="group-avatar">
        <div class="group-avatar__name">
            Henry Vo
        </div>
        <div class="group-avatar__avatar">
            <img src="images/avatar.jpg" alt="user-avatar" (click)="handleUserLogout()">
        </div>
    </div>
</div>