<div class="page-not-found-container">
    <div class="group-not-found-img">
        <img src="images/unauthorized.png" alt="not-found-image">
    </div>
    <div class="group-not-found-des">
        <div class="group-not-found-des__title">
            Sorry, you have no longer ability to access this page or you are not authorized.
        </div>

        <div class="group-not-found-des__status">
            The link you followed may has been blocked or broken!
        </div>
    </div>
    <div class="group-not-found-action">
        <div class="group-not-found-action__home-page not-found-btn" (click)="redirectToPreviousPage()">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Previous page</span>
        </div>

        <div class="group-not-found-action__previous-page not-found-btn" (click)="redirectToHomePage()">
            <i class="fa-solid fa-house"></i>
            Home page
        </div>
    </div>
</div>