<div class="page-not-found-container">
    <div class="group-not-found-img">
        <img src="images/not-found.png" alt="not-found-image">
    </div>
    <div class="group-not-found-des">
        <div class="group-not-found-des__title">
            Sorry, this content isn't available right now
        </div>

        <div class="group-not-found-des__status">
            The link you followed may be broken, or the page may have been removed!
        </div>
    </div>
    <div class="group-not-found-action">
        <div class="group-not-found-action__home-page not-found-btn" (click)="redirectToPreviousPage()">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Previous page</span>
        </div>

        <div class="group-not-found-action__previous-page not-found-btn" (click)="redirectToHomePage()">
            <i class="fa-solid fa-house"></i>
            Home page
        </div>
    </div>
</div>